*h1 {
  font-family: "Dm san", sans-serif;
}
*p {
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
body {
background-color: rgb(194, 193, 193)
}
.header {
  background-color: white(235, 229, 229);
  display: flex;
  height: 190px;
  justify-content: space-between; /* Distribui os elementos no cabeçalho */
  align-items: center; /* Alinha verticalmente */
}

.logo {
  display: flex;
  height: 430px;
  margin-top: 20px;
}

.menu-header {
  display: inline-flex; /* Torna os itens do menu flexíveis para alinhar à direita */
  justify-content: flex-end; /* Alinha os itens do menu à direita */
  align-items: center; /* Alinha verticalmente */
  align-self: flex-end;
  padding: 10px;
}
.itens-menu {
  padding: 15px 40px;
  font-size: 25px;
}
/* Adiciona um pipe (|) apenas no último item do menu */
.itens-menu:last-child::after {
  content: "|";
  margin-left: 40px; /* Espaçamento entre o texto e o pipe */
}
.container-img-principal {
  position: relative;

}

.sobreposto {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(242, 13, 13, 0.774); /* O fundo translúcido cobrirá toda a imagem */
}
.container-article1 {
  display: flex;
}
.titulo-QuemSomos {
  position: absolute;
  font-size: 37px;
  font-family: "Dm San", sans-serif;
  color: black;
  margin-top: 200px;
  margin-left: 60px;
}
.texto-QuemSomos {
  display: flex;
  max-width: 50%;
  color: rgb(90, 90, 90);
  font-size: 18px;
  font-weight: normal;
  line-height: 1.9;
  font-family: "Inter", sans-serif;
  margin-top: 400px;
  margin-left: 60px;
}

.container-article2-carrossel {
  display: flex;
  width: 40%;
  height: 700px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-top: 400px;
}

.carrossel-items {
  display: flex;
  transition: transform 0.5s ease;
}

.img-carrossel {
  flex: 1 0 100%;
  height: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
}


.prev-button {
  left: 0px;
}

.next-button {
  right: 0px;
}
.container-article3 {
  position: relative;
  margin-left: 120px;
  margin-bottom: 50px;
}
.titulo-article3 {
  font-size: 37px;
  font-family: "Dm San", sans-serif;
  color: rgb(66, 5, 159);
  margin-bottom: 30px;
  margin-top: 40px;
}
.texto-article3 {
  display: flex;
  max-width: 90%;
  color: rgb(90, 90, 90);
  font-size: 18px;
  font-weight: normal;
  line-height: 1.9;
  font-family: "Inter", sans-serif;
}
samp {
  color: rgb(67, 66, 66);
  font-weight: bold;
  font-size: 23px;
}

.titulo-orçamento {
  display: flex;
  font-size: 37px;
  font-family: "Dm San", sans-serif;
  color: rgb(67, 66, 66);
  justify-content: center;
  align-items: center;
}
.texto-orçamento {
  display: flex;
  color: rgb(67, 66, 66);
  font-size: 30px;
  justify-content: center;
  align-items: center;
}
button {
  position: absolute;
  top: 50%;
  display: flex;
  background-color: #007bff; /* Cor de fundo do botão */
  color: white; /* Cor do texto */
  border: none; /* Remove a borda padrão */
  border-radius: 5px; /* Cantos arredondados */
  padding: 10px 20px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho do texto */
  cursor: pointer; /* Cursor em forma de mão ao passar por cima */
  transition: background-color 0.3s ease; /* Animação para a cor de fundo */
}
.orcamento{
  
}
.botao-azul {
background-color: #007bff;
padding: 10px 20px;
border: 1px black;
border-radius: 5px;
margin-left: 47%;


}
footer {
  display: flex;
  height: 200px;
  background-color: #6c6d6c;
  margin-top: 120px;
  overflow: hidden;
}
.img-logo-footer {
  margin-top: -90px;
  margin-left: 50px;
}
.footer-container {
  display: flex;
  justify-content: center;
  text-align: center;
  grid-gap: 90px;
  width: 99%;
}
.referencia {
  background-color: #8d8c8c;
  display: flex;
  justify-content: center;
}

